.services-container,.services-container-ar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--en-font);
    direction: ltr;
}

.services-container-ar{
    font-family: var(--ar-font);
    direction: rtl;
}

.services-header{
    color: var(--secondry-BG);
    font-size: x-large;
    margin-block-end: 35px;
    border: 3px solid var(--secondry-BG);
    padding: 10px;
    border-radius: 30px;
    width: 20%;
}

.cards-container{
    margin-block-end: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

@media only screen and (max-width:750px) {
    .cards-container{
        flex-direction: column;
    }
    .services-header{
        font-size: large;
        width: 30%;
    }
}