.card-container{
   width: 25%;
   height: 200px;
    background-color: var(--secondry-BG);
    border-radius: 15px;
    margin-inline: 30px;
    margin-block-end: 45px;
    box-shadow: 10px 10px 10px #e0e0e0;

}
.card-container .icon{
    background-color: var(--secondry-BG);
    width: 70px;
    height: 70px;
    cursor: default;
    margin-block-start: 15px;
}

.card-container .name{
    background-color: transparent;
    color: var(--main-BG);
    font-size: x-large;
    margin-inline: 15px;
    margin-block-start: 5px;
}

@media only screen and (max-width: 1300px) {
    .card-container{
        width: 35%;
    }
    .card-container .name{
        font-size: large;
    }
}

@media only screen and (max-width: 750px) {
    .card-container{
        width: 80%;
    }

    .card-container .name{
        font-size: medium;
    }

}